* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  margin: 10px;
  color: white;
}
header {
  background-color: rgb(73, 136, 252);
  padding: 20px 0;
  text-align: center;
  border-radius: 10px;
}

footer {
  background-color: black;
  padding: 25px 0;
  text-align: center;
  border-radius: 10px;
}
.content {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  gap: 10px;
}
.contents {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  flex: 1 0 100px;
  line-height: 2rem;
}
.content1 {
  background-color: rgb(21, 197, 27);
  padding: 15px;
  border-radius: 5px;
  flex: 1 0 300px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.content2 {
  background-color: rgb(241, 184, 14);
  flex: 1 1 100px;
  padding: 15px;
  border-radius: 5px;
}
.content3 {
  background-color: rgb(255, 23, 69);
  flex: 1 1 100px;
  padding: 15px;
  border-radius: 5px;
}
.sidebar {
  background-color: rgb(212, 58, 212);
  flex: 0 0 400px;
  padding: 15px;
  border-radius: 5px;
  line-height: 2rem;
}

@media (max-width: 1440px) {
  .contents {
    max-width: 1000px;
  }
}

@media (max-width: 770px) {
  .content {
    min-height: auto;
    gap: 20px;
    flex-direction: column;
    margin: 10px 0;
  }
  .sidebar {
    flex: 0 0 100px;
    padding: 40px 10px;
  }
  .content1 {
    padding: 40px 10px;
    flex: 0;
  }
  .content2 {
    padding: 40px 10px;
  }
  .content3 {
    padding: 40px 10px;
  }
}

@media (max-width: 430px) {
  .sidebar {
    flex: 1 0 50px;
    padding: 40px 10px;
  }
  .contents {
    min-width: 100%;
    flex: 1 0 50px;
  }
  .content2 {
    min-width: 100%;
  }
  .content3 {
    min-width: 100%;
  }
}
